# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# TensorFlow/Keras temporary files
*.keras~

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db